".source.js":
    "_.compact":
      "prefix": "_com"
      "body": """
      _.compact(${1:array});
      """
    "_.difference":
      "prefix": "_diff"
      "body": """
      _.difference(${1:array}, ${2:others});
      """
    "_.findIndex":
      "prefix": "_findIndex"
      "body": """
      _.findIndex(${1:array});
      """
    "_.findLastIndex":
      "prefix": "_findLastIndex"
      "body": """
      _.findLastIndex(${1:array});
      """
    "_.first":
      "prefix": "_first"
      "body": """
      _.first(${1:array});
      """
    "_.flatten":
      "prefix": "_flat"
      "body": """
      _.flatten(${1:array});
      """
    "_.indexOf":
      "prefix": "_io"
      "body": """
      _.indexOf(${1:array}, ${2:value});
      """
    "_.initial":
      "prefix": "_init"
      "body": """
      _.initial(${1:array});
      """
    "_.intersection":
      "prefix": "_int"
      "body": """
      _.intersection(${1:array});
      """
    "_.last":
      "prefix": "_last"
      "body": """
      _.last(${1:array});
      """
    "_.lastIndexOf":
      "prefix": "_lio"
      "body": """
      _.lastIndexOf(${1:array}, ${2:value});
      """
    "_.pull":
      "prefix": "_pull"
      "body": """
      _.pull( ${1:start} )
      """
    "_.range":
      "prefix": "_range"
      "body": """
      _.range(${1:start}, ${2:stop}, ${3:step} ;
      """
    "_.remove":
      "prefix": "_remove"
      "body": """
      _.remove( ${1:start} )
      """
    "_.rest":
      "prefix": "_rest"
      "body": """
      _.rest(${1:array});
      """
    "_.sortedIndex":
      "prefix": "_si"
      "body": """
      _.sortedIndex(${1:list}, ${2:value});
      """
    "_.union":
      "prefix": "_uni"
      "body": """
      _.union(${1:array});
      """
    "_.uniq":
      "prefix": "_uniq"
      "body": """
      _.uniq(${1:array});
      """
    "_.without":
      "prefix": "_wo"
      "body": """
      _.without(${1:array}, ${2:values});
      """
    "_.xor":
      "prefix": "_xor"
      "body": """
      _.xor(${1:array});
      """
    "_.zip":
      "prefix": "_zip"
      "body": """
      _.zip(${1:array});
      """
    "_.zipObject":
      "prefix": "_zipo"
      "body": """
      _.zipObject(${1:array});
      """
