".source.js":
  "_.after":
    "prefix": "_after"
    "body": """
    _.after( ${1:n}, ${2:func} )
    """
  "_.bind":
    "prefix": "_b"
    "body": """
    _.bind( ${1:func}, ${2:object} )
    """
  "_.bindAll":
    "prefix": "_ba"
    "body": """
    _.bindAll( ${1:object}, ${2:methodName} )
    """
  "_.bindKey":
    "prefix": "_bk"
    "body": """
    _.bindKey( ${1:object}, ${2:key}, ${3:args} )
    """
  "_.compose":
    "prefix": "_comp"
    "body": """
    _.compose( ${1:func} )
    """
  "_.curry":
    "prefix": "_curr"
    "body": """
    _.curry( ${1:func} )
    """
  "_.debounce":
    "prefix": "_deb"
    "body": """
    _.debounce( ${1:func}, ${2:wait} )
    """
  "_.defer":
    "prefix": "_defer"
    "body": """
    _.defer( ${1:func}, ${2:args} )
    """
  "_.delay":
    "prefix": "_delay"
    "body": """
    _.delay( ${1:func}, ${2:wait}, ${3:args} )
    """
  "_.memorize":
    "prefix": "_memo"
    "body": """
    _.memorize( ${1:func} )
    """
  "_.once":
    "prefix": "_once"
    "body": """
    _.once( ${1:func} )
    """
  "_.partial":
    "prefix": "_pa"
    "body": """
    _.partial( ${1:func}, ${2:args} )
    """
  "_.partialRight":
    "prefix": "_par"
    "body": """
    _.partialRight( ${1:func}, ${2:args} )
    """
  "_.throttle":
    "prefix": "_throt"
    "body": """
    _.throttle( ${1:func}, ${2:wait}, ${3:options} )
    """
  "_.wrap":
    "prefix": "_wrap"
    "body": """
    _.wrap( ${1:value}, ${2:wrapper} )
    """
