".source.js":
  "_.assign":
    "prefix": "_as"
    "body": """
    _.assign( ${1:object}, ${2:source} )
    """
  "_.clone":
    "prefix": "_clo"
    "body": """
    _.clone( ${1:value} )
    """
  "_.cloneDeep":
    "prefix": "_clod"
    "body": """
    _.cloneDeep( ${1:value} )
    """
  "_.create":
    "prefix": "_cre"
    "body": """
    _.create( ${1:prototype}, ${2:properties} )
    """
  "_.defaults":
    "prefix": "_def"
    "body": """
    _.defaults( ${1:object}, ${2:source} )
    """
  "_.findKey":
    "prefix": "_findKey"
    "body": """
    _.findKey( ${1:object}, ${2:callback} )
    """
  "_.findLastKey":
    "prefix": "_findLastKey"
    "body": """
    _.findLastKey( ${1:object}, ${2:callback} )
    """
  "_.forIn":
    "prefix": "_forIn"
    "body": """
    _.forIn( ${1:object}, ${2:callback} )
    """
  "_.forInRight":
    "prefix": "_forInRight"
    "body": """
    _.forinRight( ${1:object}, ${2:callback} )
    """
  "_.forOwn":
    "prefix": "_forOwn"
    "body": """
    _.forOwn( ${1:object}, ${2:callback} )
    """
  "_.forOwnRight":
    "prefix": "_forOwnRight"
    "body": """
    _.forOwnRight( ${1:object}, ${2:callback} )
    """
  "_.functions":
    "prefix": "_fn"
    "body": """
    _.functions( ${1:object} )
    """
  "_.has":
    "prefix": "_has"
    "body": """
    _.has( ${1:object}, ${2:key} )
    """
  "_.invert":
    "prefix": "_invert"
    "body": """
    _.invert( ${1:object} )
    """
  "_.isArguments":
    "prefix": "_isarg"
    "body": """
    _.isArguments( ${1:value} )
    """
  "_.isArray":
    "prefix": "_isa"
    "body": """
    _.isArray( ${1:value} )
    """
  "_.isBoolean":
    "prefix": "_isbool"
    "body": """
    _.isBoolean( ${1:value} )
    """
  "_.isDate":
    "prefix": "_isdate"
    "body": """
    _.isDate( ${1:value} )
    """
  "_.isElement":
    "prefix": "_isel"
    "body": """
    _.isElement( ${1:value} )
    """
  "_.isEmpty":
    "prefix": "_ise"
    "body": """
    _.isEmpty( ${1:value} )
    """
  "_.isEqual":
    "prefix": "_iseq"
    "body": """
    _.isEqual( ${1:value} )
    """
  "_.isFinite":
    "prefix": "_isfin"
    "body": """
    _.isFinite( ${1:value} )
    """
  "_.isFunction":
    "prefix": "_isfn"
    "body": """
    _.isFunction( ${1:value} )
    """
  "_.isNaN":
    "prefix": "_isnan"
    "body": """
    _.isNaN( ${1:value} )
    """
  "_.isNull":
    "prefix": "_isnull"
    "body": """
    _.isNull( ${1:value} )
    """
  "_.isNumber":
    "prefix": "_isnum"
    "body": """
    _.isNum( ${1:value} )
    """
  "_.isObject":
    "prefix": "_iso"
    "body": """
    _.isObject( ${1:value} )
    """
  "_.isPlainObject":
    "prefix": "_ispo"
    "body": """
    _.isPlainObject( ${1:value} )
    """
  "_.isRegExp":
    "prefix": "_isreg"
    "body": """
    _.isRegExp( ${1:value} )
    """
  "_.isString":
    "prefix": "_isstr"
    "body": """
    _.isString( ${1:value} )
    """
  "_.isUndefined":
    "prefix": "_isu"
    "body": """
    _.isUndefined( ${1:value} )
    """
  "_.keys":
    "prefix": "_keys"
    "body": """
    _.keys( ${1:object} )
    """
  "_.mapValues":
    "prefix": "_mapval"
    "body": """
    _.mapValues( ${1:object}, ${2:callback} )
    """
  "_.merge":
    "prefix": "_merge"
    "body": """
    _.merge( ${1:object}, ${2:callback} )
    """
  "_.omit":
    "prefix": "_omit"
    "body": """
    _.omit( ${1:object}, ${2:callback} )
    """
  "_.pairs":
    "prefix": "_pairs"
    "body": """
    _.pairs( ${1:object} )
    """
  "_.pick":
    "prefix": "_pick"
    "body": """
    _.pick( ${1:object}, ${2:callback} )
    """
  "_.transform":
    "prefix": "_trans"
    "body": """
    _.transform( ${1:object}, ${2:callback} )
    """
  "_.values":
    "prefix": "_val"
    "body": """
    _.values( ${1:object} )
    """
